body {
    background-image: url("teaser.png");
    height: 100%;     
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
    background-color: black;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.container {
    font-size: 2em;
    margin-top: 10%;
    margin-left: 5%;
}