@font-face {
    font-family: mint;
    src: url(../assets/MintGroteskV1.0-Medium.woff2);
}

:root {
    --pink: #d879fb;
    --purple: #9179fb;
    --blue: #4274e0;
}


body {
    margin: 0;
    font-family: mint, Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
}

#canvas-holder canvas{
    position: fixed;
    top: 0;
    z-index: 3;
}

video, img {
    filter: grayscale();
    z-index: 5;
}

/* header */

.header {
    height: 40px;
    background-color: var(--blue);
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

.logo {
    font-size: 1.6em;
}

.profile {
    margin-top: -4px;
    margin-right: 80px;
}

.profile-name {
    margin-top: -16px;
    font-size: 1.6em;
}

.profile-pic {
    width: 50px;
    border-radius: 50%;
    margin-right: 16px;
    vertical-align: middle;
}

.love {
    background-color: var(--pink);
}

a, a:link, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}

/* container  */

.container {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
}

#controls {
    position: fixed;
    width: 360px;
    padding-top: 16px;
    z-index: 10;
}

.action {
    font-size: 1.6em;
    margin: 24px 16px;
}

.action:hover {
    cursor: pointer;
}

#ads {
    position: fixed;
    right: 0;
    width: 25%;
    padding-top: 16px;
    z-index: 10;
}

#posts {
    padding: 16px;
    margin-top: 24px;
    margin-left: 360px;
}

.post {
    border-radius: 8px;
    border: 1px solid #fff;
    margin-bottom: 24px;
    max-width: 570px;
}

.text {
    margin-top: 16px;
    margin-left: 80px;
    margin-right: 40px;
}

.user-wrapper {
    padding: 16px;
}

.user-name {
    font-size: 1.6em;
}

.post video {
    width: 100%;
    max-width: 570px;
}

#heart {
    display: none;
}